/*************/
/*** basic ***/
/*************/
* {}

body {
    margin: 0;
    padding: 0;    
}

#container {
    width: 960px;
    margin: 0 auto;
}

/** components **/
input[type=time],
.time-picker {
  width: 100px;
}

.table-stretch {
  width: auto;
}

.btn-success {
  width: auto;
}


/***************/
/*** top bar ***/
/***************/
.navbar .top-bar-display-menu {
  display: none;
}

.navbar .top-bar-logo {
  display: table;
  background: url(../img/header-logo.png) no-repeat;
  width: 260px;
  height: 25px;
  margin: 10px !important;
}

.top-bar {
  position: fixed;
}

table .remove {
  display: none;
}

/** sidebar **/
.sidebar {
  position: fixed;  
  display: block;
  top: 50px;  
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

#sidebar-title-admin {
  border-top: none;
}

#sidebar-title-my-account,
#sidebar-li-balance,
#sidebar-li-me,
#sidebar-li-help,
#sidebar-li-logout {
  display: none;
}

.subpage {
  margin: 50px 0 50px 270px;
  float: left;
}

/** component > selector **/
.selector {
  width: auto;
}

.action-type {
  width: 200px;  
}

/** content > schedules **/
.schedules-tabs {
  display: block;
}

.schedules-select-day-mobile {
  display: none;
}

/** content > numbers **/
.numbers-list-col-plan,
.numbers-list-col-sign-up-date,
.numbers-list-col-pricing,
.numbers-list-col-reversion {
  display: table-cell !important;
}

/* content > summary */
form#set-date {
  display: inline-block;
}

#summary-date {
  width: auto !important;
  margin: 0;
  margin-left: 10px;
}

.action-config-button {
  margin-left: 5px;
  display: inline-block;
  clear: none;
  margin-top: 0;
  width: auto;
}

/** alta **/
.number-selection-col-map {
  display: inline-block;
}